.placeholder-danger::placeholder {
    color: rgba(245, 122, 0, 0.6) !important;
}

.button_big_font {
    font-size: large !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0 rgba(235, 104, 100, 0.25) !important;
}

.mt-footer {
    margin-top: 1.75% !important;
}

.mb-navbar {
    margin-bottom: 1.25% !important;
}

.scroll-top {
    position: fixed !important;
    right: 3% !important;
    bottom: 3% !important;
    z-index: 1000 !important;
}

.dropdown-menu {
    overflow-y: auto !important;
    max-height: 50vh !important;
}

.debug {
    border: 5px solid black;
}

.b-none {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.top-25 {
    top: 25% !important;
}
