.add_new::placeholder {
    color: rgba(245, 122, 0, 0.6);
}

.button_big_font {
    font-size: large;
}

.form-control:focus {
    box-shadow: 0 0 0 0 rgba(235, 104, 100, 0.25);
}

.mt-footer {
    margin-top: 1.75% !important;
}

.mb-navbar {
    margin-bottom: 1.25% !important;
}

.nav-link a {
    font-size: ;
}
